@import "../../styles/variables.scss";

.library-layout {
  display: flex;
  justify-content: space-between;

  .library-list-wrapper {
    width: 690px;
    order: 1;
  }

  .library-add-form-wrapper {
    width: 385px;
    order: 2;
  }
}
